.banner {
  background-image: url('https://i.ibb.co/vBN667k/pngwing-com.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green {
  color: rgb(71, 216, 71);
}
